---
import Logo from "./icons/Logo.astro";
---

<header id="header-nav" class="fixed top-0 w-full py-4 px-8 lg:px-0 z-20">
    <div class="flex justify-between items-center w-full max-w-[1400px] mx-auto lg:px-20">
        <a href="#" class="lg:w-1/4">
            <Logo class="w-12" />
        </a>
        <nav class="justify-self-center w-2/4">
            <ul class="flex justify-center items-center gap-4">
                <li>
                    <a href="#">INFO</a>
                </li>
                <li>
                    <a href="#">ARCHIVO</a>
                </li>
            </ul>
        </nav>
        <a href="#" class="lg:w-1/4 text-end">ESLAND: EL DOCUMENTAL</a>
    </div>
</header>