---
import { CountUp } from '@/components/CountUp'

// Internacionalización
import { geti18n } from '@/i18n';
const { currentLocale } = Astro
const i18n = geti18n({ currentLocale })
---

<section>
    <h2 class="mb-10 lg:mb-20 text-4xl lg:text-6xl font-tomaso text-center text-balance">
        {i18n.ARCHIVO.COUNTER_TITLE}
    </h2>
    <div>
        <p>
            <CountUp client:visible initial={1} final={227} />
        </p>
        <p>
            {i18n.ARCHIVO.COUNTER_NEWS}
        </p>
    </div>
</section>