---
// Internacionalización
import { geti18n } from '@/i18n';
const { currentLocale } = Astro
const i18n = geti18n({ currentLocale })
---

<section class="relative w-full">
    <img
        class="absolute top-10 left-0 right-0 w-[1000px] mx-auto z-10 animate-fade-in-up"
        src="/public/icons/logo-esland-home.svg" 
        alt={i18n.HERO_SUBTITLE}
    >
    <video 
        class="w-full h-auto animate-fade-in animate-duration-1000 animate-ease-in-out cv-p"
        src="/videos/video-logo.mp4"
        autoplay loop muted
    ></video>
    <video 
        class="absolute -bottom-48 blur-3xl -z-40 animate-fade-in animate-duration-1000 animate-ease-in-out"
        src="/videos/video-logo.mp4"
        autoplay loop muted
    ></video>
</section>