<section class="relative w-full">
    <video 
        class="w-full h-auto"
        style="clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);"
        src="/videos/video-logo.mp4"
        autoplay loop muted
    ></video>
    <video 
        class="absolute -bottom-48 blur-3xl -z-40"
        src="/videos/video-logo.mp4"
        autoplay loop muted
    ></video>
</section>