<section class="relative w-full">
    <img
        class="absolute top-10 left-0 right-0 w-[1000px] mx-auto z-10 animate-fade-in-up"
        src="/public/logo-esland-home.svg" 
        alt="Premios a la comunidad hispanohablante"
    >
    <video 
        class="w-full h-auto animate-fade-in animate-duration-1000 animate-ease-in-out"
        style="clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);"
        src="/videos/video-logo.mp4"
        autoplay loop muted
    ></video>
    <video 
        class="absolute -bottom-48 blur-3xl -z-40 animate-fade-in animate-duration-1000 animate-ease-in-out"
        src="/videos/video-logo.mp4"
        autoplay loop muted
    ></video>
</section>