<footer class="flex flex-col md:flex-row justify-center items-center md:justify-between w-full pt-6 pb-20 border-primary border-t-2 ">
    <span class="text-center text-primary">
        © 2024 La Velada del año <span aria-hidden class="hidden md:inline">|</span><br aria-hidden class="block md:hidden" /> Todos los derechos reservados
    </span>

    <ul class="flex gap-x-6 items-center">
        <li>
            <a 
                href="#" 
                target="_blank" 
                rel="noopener noreferrer"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <img src="/public/images/icons/instagram.svg" alt="Ícono de instagram">
            </a>
        </li>
        <li>
            <a 
                href="#" 
                target="_blank" 
                rel="noopener noreferrer"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <img src="/public/images/icons/twitter.svg" alt="Ícono de twitter">
            </a>
        </li>
    </ul>
</footer>