---
import ThemeToggle from "@/components/ThemeToggle.astro"
import Instagram from "@/icons/instagramIcon.astro"
import GithubIcon from "@/icons/githubIcon.astro"
---


<footer class="flex flex-col md:flex-row place-items-center md:justify-between w-full pt-6 pb-20 border-primary border-t-2 ">
    <span class="text-center md:text-left text-primary">
        2024 La Velada del año <span aria-hidden="true" class="hidden md:inline">|</span><br aria-hidden="true" />
        Proyecto Académico realizado con la intención de practicar mis habilidades en el desarrollo web.<br aria-hidden="true" />
        Landing page inspirada en la web de <a href="https://www.lavelada.com/" target="_blank" rel="noopener noreferrer" class="text-primary font-bold">La Velada IV</a>.
    </span>

    <nav>
        <ul class="flex gap-x-6 items-center">
            <li>
                <a 
                    href="https://www.instagram.com/josesissa_/" 
                    target="_blank" 
                    rel="noopener noreferrer"
                    class="hover:scale-125 hover:opacity-70 transition inline-block"
                >
                    <Instagram />
                </a>
            </li>
            <li>
                <a 
                    href="https://github.com/JoseSissa" 
                    target="_blank" 
                    rel="noopener noreferrer"
                    class="hover:scale-125 hover:opacity-70 transition inline-block"
                >
                    <GithubIcon />
                </a>
            </li>
            <li>
                <ThemeToggle />
            </li>
        </ul>
    </nav>
</footer>