---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
    <span class="mb-9 px-6 py-1 uppercase text-secondary bg-primary font-medium text-xl">
        Presenación de la
    </span>
    <HeroLogo class="text-primary" />
</section>