---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
    <span class="mb-9 px-2 py-1 uppercase text-white bg-black font-medium">
        Presenación de la
    </span>
    <HeroLogo />
</section>