<section class="w-full flex-col justify-center items-center text-center text-primary">
    <h2 class="mb-6 uppercase text-5xl font-semibold">
        4 de Marzo <span aria-hidden class="hidden md:inline mx-1">.</span><br aria-hidden class="block md:hidden" /> 19:00h CET
    </h2>
    <h3 class="flex flex-col max-w-sm mx-auto mb-8 text-2xl font-medium uppercase">
        <span>
            Evento de Presentación
        </span>
        <span>
            Teatro Victoria (Barcelona)
        </span>
    </h3>
    <a 
        href="#" 
        target="_blank" 
        rel="noopener"
        class={`
            px-4 py-1 border-primary border-2 font-medium text-lg 
            hover:bg-secondary hover:scale-125
        `}
    >
        ENTRADAS AGOTADAS
    </a>
</section>
