---
const EXPERIENCE_JOBS = [
	{
		fecha: '2022 - Presente',
		empresa: 'Gravital',
		cargo: 'Desarrollador Frontend',
		explicacion_cargo: 'Desarrollador Frontend que se enfocaba en trabajar en Novita Diamonds.',
		tecnologias: ['HTML', 'CSS', 'JavaScript']
	}
]

---

<div>
    <ol>
        {
            EXPERIENCE_JOBS.map((job, index) => {
                return(
                    <li>
                        <div>
                            <header>{job.fecha}</header>
                            <div>
                                <h3>{job.cargo}</h3>
                                <p>{job.explicacion_cargo}</p>
                                <ul>
                                    {
                                        job.tecnologias.map((tecnologia, i) => (
                                            <li>{tecnologia}</li>
                                        ))
                                    }
                                </ul>
                            </div>
                        </div>
                    </li>
                )
            })
        }
    </ol>
</div>