---
import { EXPERIENCE_JOBS } from '../constants/experiencia'
---
<section>
    <h2>Experiencia</h2>
    <div>
        <ol>
            {
                EXPERIENCE_JOBS.map((job, index) => {
                    return(
                        <li>
                            <div>
                                <header>{job.fecha}</header>
                                <div>
                                    <h3>{job.cargo}</h3>
                                    <p>{job.explicacion_cargo}</p>
                                    <ul>
                                        {
                                            job.tecnologias.map((tecnologia, i) => (
                                                <li>{tecnologia}</li>
                                            ))
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                    )
                })
            }
        </ol>
    </div>
</section>