<article>
    <div>
        Fecha
    </div>
    <div>
        <h4>Empresa</h4>
        <span>Cargo</span>
        <p>
            I made from scratch a project using high performance technologies for a company dedicated to the banking sector including from the creation of a library of components based on a design system to the architecture of the application and integrations with microservices. 
        </p>
        <p>
            I worked closely with clients to establish software specifications and integrate with their existing software to perform a complete migration to the current software. 
        </p>
    </div>
</article>