---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Gravital">
	<section class="header-home">
		<div class="container">
			<Header />
			<div>
				<h3>Creamos experiencias <br/>digitales de</h3>
				<h2>ALTO IMPACTO</h2>
			</div>
			<div >
				<a href="https://www.instagram.com/gravital.co/" target="_blank" rel="noreferrer">Síguenos</a>
				<img src="/public/assets/images/icons/arrow-up-banner.png" alt="Arrow up logo" />
			</div>
		</div>
	</section>
	<section></section>
	<section></section>
</Layout>

<style>
	.header-home {
		padding: 40px;
		background-image: url('/public/assets/images/homepage-bg-1.jpg');
		background-position: center;
		background-size: cover;
	}
</style>