<section class="bg-black w-screen h-screen text-center relative overflow-hidden">
    <div class="relative z-10 h-full flex flex-col">
        <header class="">
            <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
            <p class="text-black text-sm underline">Concertar una prueba de conducción</p>
        </header>

        <footer class="flex flex-grow flex-col justify-end pb-20">
            <div class="flex mx-auto gap-x-6">
                <a class="inline-block bg-gray-600 rounded font-medium text-sm text-white px-12 py-2 hover:bg-black hover:text-white transition-colors" href="#">
                    Explorar inventario
                </a>
                <a class="inline-block rounded bg-white font-medium text-sm text-black px-12 py-2 hover:bg-black hover:text-white transition-colors" href="#">
                    Pedido personalizado
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-0">
        <img src="/public/img/model-y.avif" alt="Model Y" class="object-cover w-full h-full object-center">
    </div>
</section>