<section class="bg-black w-screen h-screen text-center relative overflow-hidden">
    <div class="relative z-10 h-full flex flex-col">
        <header class="">
            <h2 class="text-white pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
            <p class="text-white text-sm">Programe una prueba de conducción hoy mismo</p>
        </header>

        <footer class="flex flex-grow flex-col justify-end pb-20">
            <div>
                <a class="inline-block border-4 rounded border-white bg-white/5 backdrop-blur-sm font-medium text-sm text-white px-12 py-2 hover:bg-white hover:text-black transition-colors" href="#">
                    Prueba de conducción
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-0">
        <video class="object-cover w-full h-full" autoplay muted loop src="/public/video/video_1.webm"></video>
    </div>
</section>