---
import '@fontsource/onest/300.css';
import '@fontsource/onest/500.css';
import '@fontsource/onest/700.css';
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative h-full w-full bg-slate-950 leading-5 md:leading-normal">
		<!-- Background -->
		<div class="fixed bottom-0 left-[-20%] right-0 top-[-10%] h-[800px] w-[800px] rounded-full lg:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div>
		<!-- <div class="fixed bottom-0 right-[-20%] top-[43%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div> -->
		<!-- Background -->
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary: #fff200;
		--secondary: #fff773;
		--background: #001423;
	}
	html {
		font-family: 'Onest', system-ui, sans-serif;
		color: rgba(255, 255, 255, .8);
	}
	body {
		min-height: 100vh;
		/* background-color: var(--background); */
	}
</style>
