---
---

<header class="header-menu">
    <nav>
        <ul class="menu">
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="/"><img class="menu-logo" src="/public/assets/images/icons/menu-logo.png" alt="Grávital logo" /></a></li>
            <li><a href="#">Vacantes</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>


<style>
    .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }
    .menu a {
        color: var(--white);
    }
    .menu-logo {
        max-width: 200px;
    }
</style>