---
// Supports weights 100-900
import '@fontsource-variable/jost';
import BackgroundNoise from '@/components/BackgroundNoise.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Proyecto de La Velada 4 realizado para fortalecer mis habilidades en el desarrollo web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="">
		<title>{title}</title>
	</head>
	<body>
		<BackgroundNoise />
		<div class="max-w-6xl mx-auto px-2 lg:px-10 pt-20 md:pt-32">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Jost Variable', system-ui, sans-serif;
		background: #ddd;
	}
</style>
