---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/public/assets/images/icons/favicon-gravital.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--primary-color: #6a00fd;
		--secondary-color: #ac7ffd;
		--black: #000000;
		--white: #FFFFFF;
		--max-width: 1366px;
	}
	@font-face {
		font-family: "Gradual";
		src: url('/public/assets/fonts/Branding-with-Type-Bw-Gradual-Bold.otf') format('opentype');
	}
	@font-face {
		font-family: "Karla light";
		src: url('/public/assets/fonts/Karla-Light.ttf') format('truetype');
	}
	@font-face {
		font-family: "Karla Medium";
		src: url('/public/assets/fonts/Karla-Medium.ttf') format('truetype');
	}
	@font-face {
		font-family: "Karla Variable";
		src: url('/public/assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
	}
	@font-face {
		font-family: "Karla Italic";
		src: url('/public/assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.container {
		width: 100%;
		max-width: var(--max-width);
		margin-left: auto;
		margin-right: auto;
	}
	h2, h3 {
		font-family: 'Gradual';
	}
	h2 {
		font-size: 60px;
	}
	h3 {
		font-size: 45px;
	}
	a {
		font-family: 'Karla light';
		text-decoration: none;
	}
	.hide {
		display: none;
	}
	.show {
		display: block;
	}

</style>
